.loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(#333, #000);
    background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
}

@keyframes loading {
    20% {
        background-position: 0% 0%, 50% 50%, 100% 50%;
    }

    40% {
        background-position: 0% 100%, 50% 0%, 100% 50%;
    }

    60% {
        background-position: 0% 50%, 50% 100%, 100% 0%;
    }

    80% {
        background-position: 0% 50%, 50% 50%, 100% 100%;
    }
}

.logo {
    width: 160px;
}

h1 {
    font-size: 2em !important;
    font-weight: bold !important;

}

h2 {
    font-size: 1.5em !important;
    font-weight: bold !important;
}

h3 {
    font-size: 1.17em !important;
    font-weight: bold !important;
}

h4 {
    font-weight: bold !important;
}

h5 {
    font-weight: bold !important;
    font-size: 0.83em !important;
}

h6 {
    font-size: 0.63em !important;
    font-weight: bold !important;
}
.chip-label {
    margin-right: 4px;
}

.chip-delete {
    cursor: pointer;
    color: rgb(129, 73, 62);
}